.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.2em;
  padding: 0.6em 1em;
  cursor: pointer;
  color: white;
}

.video-list {
  max-height: 45vh;
  overflow-y: scroll;
  padding: 1em;
  background-color: rgba(255,255,255,0.2);
  align-self: flex-end;
}

.App-header {
  padding: 1em;
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button.show-cam {
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 0.5rem 0 0 0.3rem;
  width:5rem;
  height: 5rem;
  border-radius: 100%;
  font-size: 2rem;
}